{% extends 'base.html' %}

{% block content %}
{{ super() }}

<table class="profile-table">
 <caption>Информация о профиле</caption>
    <tr>
        <th>Имя Фамилия</th>
        <td>{{current_user.name}} {{current_user.lastname}}</td>
    </tr>
    <tr>
        <th>Дата рождения</th>
        <td>{{current_user.date}}</td>
    </tr>
    <tr>
        <th>email</th>
        <td>{{current_user.email}}</td>
    </tr>
    <tr>
        <th>Номер телефона</th>
        <td>+7 {{current_user.phone}}</td>
    </tr>
    <tr>
        <th>Город</th>
        <td>{{current_user.city}}</td>
    </tr>
</table>
<div class="btn-profile">
<a href="{{ url_for('cart_page', id=current_user.id) }}">Корзина</a>
<a href="{{url_for('edit_profile')}}">Изменить данные</a>
    <a href="{{url_for('logout_page')}}" id="logout">Выйти из профиля</a>
</div>
{% endblock %}
