/* the store-page form */

.store-container {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	margin-left: 8%;
}

.left-bar-store {
	margin-top: 10em;
	margin-left: 2em;
	border: none;
	border-radius: 10px;
	padding: 3em 3em;
	background: linear-gradient(180deg, rgba(133, 127, 127, 0.45) 5%, #fff 100%);
}

.left-bar-store {
	font-size: 20px;
}

.item-card {
	margin: 1.5em;
	border: none;
	border-radius: 10px;
	padding: 10px;
	background: linear-gradient(180deg, rgba(133, 127, 127, 0.45) 5%, #fff 100%);
}

.item-card:hover {
	border: 1px solid blue;
}

.item-card>.info>h3 {
	text-align: center;
	font-size: 20px;
}

.item-card>.info>p {
	text-align: left;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 18px;
}

.price {
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
}

.btn-add-item-to-card,
.item-card>.info>h4 {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}

.item-card>.info>h4>a {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
	color: ghostwhite;
	background-color: rgba(0, 96, 255, 0.62);
}

.btn-add-item-to-card>form>.add-item-to-card {
	border: none;
	border-radius: 5px;
	padding: 10px 50px;
	font-size: 20px;
	color: ghostwhite;
	cursor: pointer;
	background-color: rgba(0, 150, 50, 0.8);
}

.item-card>.info>h4>a:hover,
.btn-add-item-to-card>form>.add-item-to-card:hover {
	color: black;
	border: 1px double black;
	background-color: rgba(255, 255, 255, 0.53);
}


/* view-product */

.panel-body {
	width: 100%;
	margin-top: 3em;
	margin-bottom: 3em;
	border: none;
	border-radius: 20px;
	background: linear-gradient(180deg, rgba(133, 127, 127, 0.45) 5%, #fff 100%);
}

.view-item-info {
	display: grid;
	grid-template-columns: 1.3fr, 0.7fr;
}

.view-item-info>.image-item {
	grid-column: 1/2;
}

.view-item-info>.item-name {
	grid-column: 2/3;
}

.view-item-info>.item-name {
	text-align: center;
	margin-top: 2em;
	
}

.view-item-info>.item-name>h2 {
	font-size: 40px;
}

.btn-view-add-item-to-card {
	text-align: center;
	border: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

.btn-view-add-item-to-card>form>.view-add-item-to-card {
	border: none;
	border-radius: 10px;
	font-size: 25px;
	padding: 20px 100px;
	color: white;
	cursor: pointer;
	background-color: rgba(0, 150, 50, 0.8);
}

.category {
	margin: 3em;
	text-align: center;
	border: none;
}


.btn-view-add-item-to-card>form>.view-add-item-to-card:hover {
	color: black;
	border: 1px double black;
	background-color: rgba(255, 255, 255, 0.53);
} 

.category>a {
	font-size: 23px;
	font-style: italic;
	color: black;
}

.category>a:hover {
	color: ghostwhite;
}

.specifications>p {
	font-size: 22px;
	margin-top: 1em;
}

.description-item {
	margin: 2em;
	padding: 1em;
	font-size: 22px;
	text-align: justify;
}

.image-item {
	margin: 1em;
	text-align: center;
}

/* comment_form  */

.add-post-btn {
	display: flex;
	justify-content: right;
	margin-bottom: 5%;
}

.add-post-btn a,
.btn-send-comment {
	border: none;
	padding: 20px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background-color: rgba(0, 150, 6, 0.8);
}

.btn-send-comment {
	cursor: pointer;
}

.add-post-btn a:hover,
.btn-send-comment:hover {
	color: black;
	border: 1px double black;
	background-color: rgba(255, 255, 255, 0.53);
}

.comment-list {
	margin-top: 3em;
	margin-bottom: 3em;
}

.comment-form,
.add-post-text {
	margin-top: 3em;
	padding: 2em;
	border: none;
	border-radius: 20px;
	background: linear-gradient(180deg, rgba(133, 133, 133, 0.5) 5%, #fff 100%);
}

.comment-form>h4 {
	margin-left: 1em;
	font-size: 24px;
	text-transform: uppercase;
}
.comment-form>p {
	font-size: 18px;
	text-align: justify; /*Выравнивание по ширине*/
	text-indent: 1em; /*отступ первой строки*/
}

.add-post-form {
	margin-top: 5em;
	margin-bottom: 30%;
}

.add-post-header {
	margin: 2em;
}

.add-post-header>h1 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing:3px;
}


/* Catalogue_page */

.head-catalogue>h1 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing:3px;
}

.catalogue-container {
	margin-top: 3em;
	margin-bottom: 3em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4);
}

.catalogue-card {
	margin: 1em 2em 4em 0em; /*верх лево низ право*/
	padding: 1em 1em 2em 1em;
	border: none;
	border-radius: 20px;
	background: linear-gradient(180deg, rgba(133, 127, 127, 0.45) 5%, #fff 100%);
}	

.catalogue-card>a>img {
	width: 400px;
	height: 400px;
}

.catalogue-card>a>h3{
	font-size: 30px;
	text-align: center;
	font-style: italic;
	color: black;
}

.catalogue-card:hover {
	border: 2px solid blue;
}

.catalogue-card>a>h3:hover {
	color: rgba(50, 50, 50, 0.4);
}


/* pagination-form */

.pagination-list {
	margin-top: 3em;
	display: flex;
	justify-content: center;
}

.page-prev {
	margin-right: 20%;
}

.page-next {
	margin-left: 20%;
}

.page-prev>a,
.page-next>a {
	border: 0.5px solid rgb(50, 50, 50);
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 20px;
	color: rgb(50, 50, 50);
	background-color: rgba(10, 10, 10, 0.1);
}

.page-prev>a:hover,
.page-next>a:hover {
	border: 0.5px solid black;
	color: black;
	background-color: white;
}

@media (max-width: 1100px) {
	.store-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5);
	}
	.catalogue-container {
		grid-template-columns: repeat(2, 1fr);
		
	}
	.view-item-info {
	display: block;
	}
	.view-item-info>.item-name{
		margin-top: 1em;
	}
	.view-item-info>.item-name>h2 {
	font-size: 30px;
	}

	.description-item {
	margin: 0.5em;
	padding: 0.5em;
	font-size: 20px;
	text-align: justify;
	}
}

@media (max-width: 700px) {
	.store-container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9);
	}
	.catalogue-container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4);
	}

	/*чтобы прилипало на весь экран телефона*/
	.item-card {
		margin-inline: 0; /*и слево и справа*/
	}

	.catalogue-card {
		margin-inline: 0;
	}

	.view-item-info {
	display: block;
	}
	.view-item-info>.item-name{
		margin-top: 1em;
	}
	.view-item-info>.item-name>h2 {
	font-size: 30px;
	}

	.description-item {
	margin: 0.5em;
	padding: 0.5em;
	font-size: 16px;
	text-align: justify;
	}
}