/* Slideshow container */

.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin-left: 10%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-1>a,
.text-2>a {
  font-family: sans-serif;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.text-1>a {
  text-align: center;
  color: rgba(0,0,0,0.8);
}

.text-2>a {
  left: 50px;
  color: ghostwhite;
}

.text-3>a,
.text-3>a>p {
  color: black;
  font-size: 30px;
  position: absolute;
  margin-left: 3em;
  margin-bottom: 2em;
  bottom: 50px;
}
.text-1 a:hover,
.text-2 a:hover,
.text-3 p:hover {
  color: gray;
}

.mySlides> img {
  width: 1100px; 
  height: 700px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 1100px) {
  .prev, .next,.text {font-size: 13px}
  .mySlides> img {
  width: 600px; 
  height: 500px;
  }
  .text-1,
  .text-2,
  .text-3 {
    display: none;
  }
}

@media (max-width: 700px) {
  .prev, .next,.text {font-size: 11px}
  .mySlides> img {
  margin-left: 0;
  width: 400px; 
  height: 300px;
  }
  .text-1,
  .text-2,
  .text-3 {
    display: none;
  }
}